@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$lime:#00fdbe;
$purple: #a45e8d;
$trans-pink: #F5A9B8;
$beige-light: #eaeaea;
$trans-blue: #5bcefa;
$greyish: #1d1d1d;
$mauve: #81c8be;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: #414559;
$grey-light: #51576d;
$primary: #cdd6f4;
$link: $mauve;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #303446;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


//my shit
$title-color: $mauve;
$input-color: #b5bfe2;
$primary: #c6d0f5;
$text-strong: #b5bfe2;
$text: #c6d0f5;
/////navbar
$navbar-background-color: #303446;
$navbar-item-color: #81c8be;
$navbar-item-hover-background-color: $grey-dark;
$navbar-dropdown-background-color: $grey-dark;
$navbar-dropdown-item-hover-color: #81c8be;
$navbar-dropdown-item-hover-background-color: $grey-dark;
$navbar-divider-background-color: $grey-light;
//$navbar-dropdown-item-active-color: $off-off-off-dark;
//$navbar-dropdown-item-active-background-color: $off-off-dark;


// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";